.contact-container {
    background-color: #41ab6b;
    height: 18vh;
}

.contact-title {
    padding-top:54px;
}

.contact-outer-section {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.contact-inner-section {
    margin: 40px;
    margin-top: 50px;
}

@media screen and (min-width: 1066px) {
    .contact-inner-section {
        margin: 100px;
    }
}

@media screen and (max-width: 645px) {
    .contact-outer-section {
        display: block;
        text-align: center;
    }
    
    .contact-icon svg {
        margin: auto;
        text-align: center;
    }
}