.card-item {
    /* flex: 1; */
    text-align: center;
    width: 400px;
    margin: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .live {
    border: #8b9a71 solid 5px;
  }
  
  .card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-heading {
    padding: 10px;
    text-align: center;
  }
  
  .card-text {
    text-align:justify;
    word-break:keep-all;
    padding: 25px;
  }

  .card-view {
    
  }
  
  .card-view:hover {
    color: #8b9a71;
  }

  @media screen and (max-width: 769px) {
    .card-item {
      width: 350px;
      margin: auto;
      margin-bottom: 30px;
    }
  }