.about-title {
    text-align: center;
    font-size: 29px;
    padding-top: 30px;
    padding-left: 20px;
    font-weight: 700;
    
}
.about-list {
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.about-list {
    list-style-type: circle;
}

.aws {
    text-decoration: underline;
}

.aws:hover {
    color: blue;
}

.cert-header {
    margin-left: 155px;
    padding-bottom: 10px;
}
.certifications {
    margin-bottom: 30px;
    background-color: #f5f5fd;
    border-radius: 20px;
    align-items: center;
}

.section-1 {
 padding-right: 30px;
}

.section-2 {
    width: 150%;
}
.section-image {
    /* width: 40%; */
    
}

@media screen and (max-width: 966px) {
    .about-list {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-2 {
        width: 200%;
    }
}

@media screen and (max-width: 748px) {
    .cert-header {
        margin-left: 125px;
    }

    .certifications {
        
    }

    .section-1 {
        padding: 30px;
    }

    .section-2 {
        padding-left: 30px;
        padding-right: 30px;
        width: 80%;
    }
}

@media screen and (max-width: 567px) {
    .certifications {
        margin-left: 20px!important;
        margin-right: 20px!important;
    }

    .section-1 {
        padding-top: 10px;
    }

    .section-2 {
        width: 100%;
    }
}

@media screen and (max-width: 567px) {
    .section-1 {
        padding-left: 20px;
        padding-right: 20px;

    }

    .section-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
}